/*** CSS Globals ***/

/* Imports from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
  /* Google fonts */
  --primary-font: "Zain", sans-serif;
  --headline-font: "Barrio", sans-serif;
  /* CSS HEX */
  --bistre: #351e0dff;
  --persian-orange: #de9151ff;
  --viridian: #57886cff;
  --ultra-violet: #564d80ff;
  --lavender-blush: #f3e8eeff;

  --persian-orange-transparent: rgba(222,145,81,75%);
}

/* Wildcard rule to override default style by browser */
body {
  padding: 0;
  margin: 0;
 
}

/*** Hero image ***/
#hero{
  height: 400px;
  width: 100%;
  background: url("../images/hero-image.jpg") no-repeat center center/cover;
  position: relative;
  padding: 0px;
}

/* Override bootstrap container padding to avoid white padding edges */
.hero{
  padding: 0px;
}

/*** Headline over Hero image */
#hero h1{
  font-family: var(--headline-font);
  color: var(--ultra-violet);
  font-size: 3rem;
  margin-top: 15%;
  background-color: var(--persian-orange-transparent);
  
}

/*** Form styling ***/

.btn{
  margin-top: 5px;
}


/**** TESTING CSS BELOW, TO BE REMOVED ****/



/******************************************/


/*** Media querys ***/

/* Medium screens */
@media screen and (min-width: 768px) {

  /*body{
    background: red;
  }*/

  /* Add padding to checkboxes */
  .movement-check-box{
      padding-bottom: 8px;
  }
  
}
/* Screens over 950 pixels, almost large */
@media screen and (min-width: 950px) {

  /* Additional padding around h1 above Hero image */
  #hero h1{
      padding: 15px;
  }
  
}


